# A minimal Azure Pipelines build configuration file.
# This configuration has just a single stage,
# so we can skip the `stages` directive.

jobs:
  - job: infrastructure
    pool:
      vmImage: "ubuntu-latest"
    steps:
      - task: Npm@1
        inputs:
          command: install
          workingDir: "./"

      - task: Pulumi@1
        inputs:
          command: "preview"
          cwd: "./"
          # Replace this with your stack name, or define a build variable called `StackName`
          # whose value is your stack name.
          stack: "$(StackName)"
